%fluid-width{
    width: 100%;
}

%fluid-height-vh{
    height: 100vh;
}

%fluid-height-per{
    height: 100%;
}

%transitioned{
    transition: all 0.3s ease-in-out 0s;
}

%no-border{
    border: none;
}