@use "variables" as vars;
@use "mixins" as mixs;
@use "extends" as ext;
@use "normalize";

.header{
    @extend %fluid-width;
    @extend %fluid-height-vh;
    border-bottom: vars.$headers-border;
}

.header--small{
    @extend %fluid-width;
    height: 60vh;
    @include mixs.flex-column__center;
}

.overlay{
    @include mixs.position-absolute;
    @extend %fluid-width;
    @extend %fluid-height-per;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 1;
}

.banner{
    position: relative;
    @extend %fluid-width;
    @extend %fluid-height-per;
    background-image: url("../images/banner_image3.jpg");
    background-size: cover;
    background-position: center;
    @include mixs.flex-column__center;
    .navbar{
        @include mixs.position-absolute;
        @extend %fluid-width;
        height: 8em;
        background-color: transparent;
        z-index: 2;
        @include mixs.flex--space-between;
        padding: 0 30px;
        .navbar__content__left{
            width: 200px;
            @include mixs.flex--space-between;
            gap: 30px;
            @extend %fluid-height-per;
            .navbar__image{
                width: 80px;
                height: 80px;
            }
            .navbar__title{
                font-size: 3.5em;
                color: vars.$secondary-color-white;
                @extend %transitioned;
                &:hover{
                    color: vars.$principal-color-white;
                    transform: scale(1.01);
                }
            }
        }
        .navlist{
            flex-basis: 50%;
            @extend %fluid-height-per;
            @include mixs.flex--space-between;
            li{
                @extend %transitioned;
                &:hover{
                    transform: scale(1.05)
                }
                .list-item{
                    padding: 15px 20px;
                    background-color: vars.$headers-border;
                    border-radius: 30px;
                    color: #222;
                    @extend %transitioned;
                    &:hover{
                        background-color: #3a3434;
                        color: vars.$principal-color-white;
                        font-size: 18.5px;
                    }
                }
            }
        }
    }
    .banner__title{
        margin-top: 40px;
        font-size: 5.2em;
        font-weight: 300;
        color: #eee;
        z-index: 2;
    }
    .banner-links{
        @include mixs.flex--space-between;
        margin-top: 30px;
        width: 350px;
        height: 60px;
        z-index: 2;
        .banner-item{
            padding: 15px 40px;
            border: 1px solid vars.$principal-color-white;
            font-size: 17.5px;
            border-radius: 30px;
            background-color: transparent;
            color: #d5d5d5;
            @extend %transitioned;
            &:hover{
                border:none;
                color: #222;
                background-color: #0abf10;
            }
        }
        .second_item{
            background-color: #0abf10;
            color: #333;
            border: none;
            &:hover{
                background-color: #0a67bf;
                color: #ddd;
                font-size: 18.5px;
            }
        }
    }
}

.navbar--white__title{
    color: #eee;
}

.navbar__non-transparent{
    background-color: #515049;
}

.navbar--fixed{
    @include mixs.position-fixed;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.banner__title--dark{
    margin-top: 140px;
    color: #333;
    font-size: 4.3em;
    font-weight: 300;
}
