$principal-font: "Poppins", sans-serif;
$principal-color-black: #111;
$principal-color-white: #fff;
$background-color: #f1eeed;
$headers-border: #ccc;
$button-hover-blue: #0a67bf;
$button-hover-green: #0abf10;