@use "./utilities/variables" as vars;
@use "./utilities/mixins" as mixs;
@use "./utilities/extends";
@use "./utilities/normalize";
@use "./layout/footer";
@use "./layout/header";
@use "./pages/about.scss";
@use "./pages/contact.scss";
@use "./pages/courses.scss";
@use "./pages/method.scss";
@use "./pages/index.scss";


body{
    font-family: vars.$principal-font;
    color: vars.$principal-color-black;
    font-weight: 400;
    line-height: 1.2;
    background-color: vars.$background-color;
}
