@mixin flex--space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex--space-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column__space-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column__center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin position-fixed{
    position: fixed;
    top: 0;
    left: 0;
}

@mixin position-absolute{
    position: absolute;
    top: 0;
    left: 0;
}
