@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #111;
  font-weight: 400;
  line-height: 1.2;
  background-color: #f1eeed;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #ccc;
}

.header--small {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner_image3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8em;
  background-color: transparent;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.navbar__non-transparent {
  background-color: #515049;
}

.navbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.navbar__content__left {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
}

.navbar__image {
  width: 80px;
  height: 80px;
}

.navbar__title {
  font-size: 3.5em;
  color: #ddd;
  transition: all 0.3s ease 0s;
}

.navbar--white__title {
  color: #eee;
}

.navbar__title:hover {
  color: #fff;
  transform: scale(1.01);
}

.navlist {
  display: flex;
  flex-basis: 50%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navlist li {
  transition: all 0.3s ease;
}

.navlist li:hover {
  transform: scale(1.05);
}

.list-item {
  padding: 15px 20px;
  background-color: #ccc;
  border-radius: 30px;
  color: #222;
  transition: all 0.3s ease 0s;
}

.list-item:hover {
  background-color: #3a3434;
  color: #fff;
  font-size: 18.5px;
}

.banner__title {
  margin-top: 40px;
  font-size: 5.2em;
  font-weight: 300;
  color: #eee;
  z-index: 2;
}

.banner__title--dark {
  margin-top: 140px;
  color: #333;
  font-size: 4.3em;
  font-weight: 300;
}

.banner-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 350px;
  height: 60px;
  z-index: 2;
}

.banner-item {
  padding: 15px 40px;
  border: 1px solid #fff;
  font-size: 17.5px;
  border-radius: 30px;
  background-color: transparent;
  color: #d5d5d5;
  transition: all 0.3s ease 0s;
}

.second_item {
  background-color: #0abf10;
  color: #222;
  border: none;
}

.banner-item:hover {
  border: none;
  color: #222;
  background-color: #0abf10;
}

.second_item:hover {
  background-color: #0a67bf;
  color: #ddd;
  font-size: 18.5px;
}

.main--larger {
  width: 90%;
  height: 250vh;
  background-color: #ccc;
  border: 1px solid #444;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--shorter {
  width: 90%;
  height: 200vh;
  margin: 0 auto;
  margin-bottom: 50px;
}

.section {
  margin-top: 20px;
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.double-spacing {
  margin-bottom: 80px;
}

.section--larger {
  height: 80vh;
  margin-top: 40px;
}

.section--bigger {
  height: 130vh;
}

.section__content {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d1d1d1;
}

.no-border {
  border-bottom: none;
}

.column__ {
  display: flex;
  flex-direction: column;
}

.section__content--bordered {
  background-color: #baa08d;
  border-radius: 15px;
}

.section__content--column {
  flex-direction: column;
  align-items: center;
}

.section__text {
  flex-basis: 50%;
  padding: 20px;
}

.section__text-leftwise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__text--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  font-size: 32px;
  font-weight: 400;
}

.text {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  line-height: 1.7;
  width: 80%;
}

.text--larger {
  width: 90%;
}

.figure {
  width: 600px;
  height: 350px;
  overflow: hidden;
  border: none;
  border: 1px solid #444;
  border-radius: 30px;
}

.figure__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}

.figure__image:hover {
  transform: scale(1.1);
}

.header__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 20%;
}

.centered {
  width: 600px;
  text-align: center;
}

.justified {
  text-align: justify;
}

.larger {
  width: 60%;
}

.margined {
  margin-bottom: 40px;
}

.cards {
  width: 100%;
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.rounded-image {
  width: 170px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  border: 1px solid #333;
}

.card {
  width: 260px;
  height: 350px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #666;
  border-radius: 10px;
  background-color: #fefcf8;
  box-shadow: 4px 5px 0 hsl(0, 0%, 77%);
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 0 hsl(0, 0%, 77%);
}

.mini-titulo {
  margin-top: 20px;
  font-size: 20px;
}

.little-text {
  margin-top: 17px;
  font-size: 16px;
  text-align: justify;
}

.teacher-cards {
  height: 100%;
  flex-basis: 70%;
  border-right: 1.7px solid #111;
  background-color: #938f83;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  overflow-y: scroll;
}

.card--large {
  width: 600px;
  height: 280px;
  padding: 25px;
  background-color: #d0d1cc;
  border: 1px solid #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
}

.card--large:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.figure--little {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #333;
}

.image__teacher {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
}

.image__teacher:hover {
  transform: scale(1.1);
}

.card__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 20px;
}

.card_title_light {
  color: #111;
  font-size: 18px;
  font-weight: 400;
}

.teacher-text {
  font-size: 18px;
  color: #222;
  font-weight: 300;
  line-height: 1.4;
  text-align: justify;
}

.big-title {
  font-size: 6em;
  font-weight: 500;
  padding: 30px 60px;
  background-color: #48e;
  border-radius: 60px;
}

.big-text {
  margin-top: 40px;
  font-size: 1.5em;
}

.footer {
  width: 100%;
  height: 50vh;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__content {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__column {
  padding: 20px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.mini_title {
  font-size: 1.2em;
  color: #fff;
}

.footer__nav li {
  margin-top: 50px;
}

.footer__item {
  font-size: 20px;
  color: #ddd;
  transition: all 0.3s ease 0s;
}

.footer__item:hover {
  color: #0abf10;
}

.copyright {
  color: white;
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 20px;
}

.container {
  width: 60%;
  margin: auto;
  display: grid;
  border: 1px solid #444;
  border-radius: 15px;
  box-shadow: 8px 12px 0 rgb(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px 1fr;
  grid-template-areas:
    "header header"
    "left-content right-content";
}

.container:hover {
  box-shadow: 8px 12px 0 rgb(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.courses__header {
  grid-area: header;
  padding: 30px;
  background-color: #f1c274;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.courses__title {
  color: #333;
  font-size: 35px;
  font-weight: 400;
}

.courses__text {
  color: #444;
  font-weight: 400;
  margin-bottom: 10px;
}

.courses__subtitle {
  color: #a82734;
  font-size: 25px;
  font-weight: 300;
}

.left-content {
  grid-area: left-content;
  background-color: #a3464f;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.little-title {
  color: #eee;
  font-weight: 400;
  font-size: 1.9em;
}

.big-number {
  font-size: 2.6em;
  color: #ececec;
}

.info {
  font-size: 25px;
  color: #f1c274;
}

.smaller-text {
  margin-top: 10px;
  font-size: 17px;
  color: hsl(0, 0%, 97%);
}

.right-content {
  background-color: hsl(0, 0%, 20%);
  padding: 30px;
}

.list {
  margin-top: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: hsl(0, 0%, 79%);
  font-size: 18px;
}

.courses__header--backcolor-blue {
  background-color: #6c8ddc;
}

.courses__title--color-blue {
  color: #6c8ddc;
}

.courses__header--backcolor-white {
  background-color: #eee;
}

.courses__title--color-white {
  color: #eee;
}

.courses__subtitle--color-black {
  color: #333;
}

.courses__subtitle--color-black-darker {
  color: #111;
}
.courses__subtitle--backcolor-red {
  background-color: #8e4151;
}

.courses__header--backcolor-green {
  background-color: #359e56;
}

.courses__subtitle--color-green {
  color: #1f6435;
}

.principal-container {
  width: 1200px;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px 350px;
  gap: 25px;
}

.little-container {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.quote-img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 65px;
  right: 130px;
}

.profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.container__header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.container__body {
  position: relative;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.5;
}

.container__foter {
  opacity: 70%;
  font-size: 14px;
  line-height: 1.4;
}

.header__content__team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.header__content__team p {
  font-size: 13px;
  color: #ffffffb3;
}

#kira_card{
    color: #333;
}

.purple {
  grid-column: 1 / 3;
  grid-row: 1/2;
  position: relative;
  color: #eee;
  background-color: hsl(263, 55%, 52%);
}

.gray {
  grid-column: 3/4;
  grid-row: 1/2;
  color: #eee;
  background-color: hsl(217, 19%, 35%);
}

.white-large {
  grid-column: 4/5;
  grid-row: 1/3;
  background-color: #fff;
  color: #222;
}

.white-large .header__content p {
  color: #999;
}

.white-large .container__foter {
  font-size: 15px;
}

.white {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #fff;
  color: #222;
}
.white .header__content p {
  color: #999;
}

.dark-blue {
  grid-column: 2/4;
  grid-row: 2/3;
  color: #fff;
  background-color: hsl(219, 29%, 14%);
}

.formulario {
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #333;
}

.label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 150px;
}

textarea::placeholder, input::placeholder, select::placeholder, option{
    font-family: 'Poppins',sans-serif;
}

button.btn-submit {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
}

button.btn-submit:hover {
    background-color: #0056b3;
    transform: scale(1.04);
}

input:focus, select:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}


@media screen and (max-width: 1150px){
    .navbar__image{
        width: 60px;
        height: 60px;
    }
    .navbar__title{
        font-size: 2.6rem;
    }
    .header--small{
        height: 50vh;
    }
    .navbar{
        height: 6em;
    }
    .navlist{
        flex-basis: 65%;
    }
    .list-item{
        padding: 10px 15px;
    }
    .banner__title--dark{
        font-size: 3rem;
    }
    .text{
        font-size: 15px;
    }
    .formulario{
        width: 600px;
    }
    .footer{
        height: 30vh;
    }
    .footer__nav li{
        margin-top: 18px;
    }
    .footer__item{
        font-size: 15px;
    }
    .mini_title{
        font-size: 1em;
    }
    .copyright{
        font-size: 16px;
    }
}

@media screen and (max-width: 860px){
    .navbar__content__left{
        width: 175px;
        justify-content: flex-start;
        gap: 10px;
    }
    .navbar__title{
        font-size: 2.2rem;
    }
    .header--small{
        height: 45vh;
    }
    .navbar{
        height: 5.5em;
    }
    .navlist{
        flex-basis: 74%;
    }
    .list-item{
        padding: 10px 10px;
    }
    .banner__title--dark{
        font-size: 2.5rem;
    }
    .text{
        font-size: 14px;
    }
    .formulario{
        margin-top: 40px;
        width: 500px;
    }
    .footer{
        height: 25vh;
    }
    .footer__nav li{
        margin-top: 13px;
    }
    .footer__item{
        font-size: 15px;
    }
    .mini_title{
        font-size: 1em;
    }
    .copyright{
        font-size: 16px;
    }
}

@media screen and (max-width: 740px){
    .navbar__content__left{
        width: 80px;
    }
    .navbar__title{
        font-size: 0;
    }
    .header--small{
        height: 45vh;
    }
    .navbar{
        height: 5.5em;
    }
    .list-item{
        font-size: 14px;
    }
    .navlist{
        flex-basis: 90%;
    }
    .banner__title--dark{
        font-size: 2.5rem;
    }
    .text{
        font-size: 14px;
    }
    .formulario{
        margin-top: 40px;
        width: 500px;
    }
    .label, input, select, textarea{
        font-size: 13px;
    }
    .form__title{
        font-size: 20px;
    }
    .footer__nav li{
        margin-top: 10px;
    }
    .footer__item{
        font-size: 13px;
    }
    .mini_title{
        font-size: 14px;
    }
    .copyright{
        font-size: 13px;
    }
}

@media screen and (max-width: 560px){
    .navbar{
        height: 5.8em;
    }
    .header--small{
        height: 40vh;
    }
    .list-item{
        font-size: 13px;
    }
    .navlist{
        flex-basis: 90%;
        flex-wrap: wrap;
    }
    .navlist li{
        flex: 1 0 45%;
    }
    .banner__title--dark{
        font-size: 2.3rem;
    }
    .text{
        font-size: 13px;
        width: 80%;
    }
    .formulario{
        margin-top: 30px;
        width: 400px;
    }
    .label, input, select, textarea, button.btn-submit{
        font-size: 13px;
    }
    button.btn-submit{
        padding: 15px 20px;
    }
    .footer__content{
        width: 100%;
    }
    .form__title{
        font-size: 18px;
    }
    .footer__nav li{
        margin-top: 8px;
    }
    .footer__item{
        font-size: 12px;
    }
    .mini_title{
        font-size: 12px;
    }
    .copyright{
        font-size: 12px;
    }
}

@media screen and (max-width: 420px){
    .banner__title--dark{
        font-size: 2rem;
    }
    .text{
        font-size: 12px;
        width: 90%;
    }
    .formulario{
        margin-top: 30px;
        width: 350px;
    }
    .label, input, select, textarea, button.btn-submit{
        font-size: 12px;
    }
    button.btn-submit{
        padding: 10px 20px;
    }
    .footer{
        height: 23vh;
    }
    .footer__content{
        height: 60%;
    }
    .footer__item{
        font-size: 10px;
    }
    .footer__nav{
        height: 60%;
    }
}