@use "../utilities/variables" as vars;
@use "../utilities/mixins" as mixs;
@use "../utilities/extends" as ext;
@use "../utilities/normalize";

.main--larger {
    width: 90%;
    height: 1800px; /*2950px*/
    background-color: vars.$headers-border;
    border: 1px solid #444;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 20px;
    @include mixs.flex-column__center;
    .section {
        margin-top: 20px;
        @extend %fluid-width;
        height: 767px;
        @include mixs.flex--space-center;
    }
}

.container{
    width: 60%;
    margin: auto;
    display: grid;
    border: 1px solid #444;
    border-radius: 15px;
    box-shadow: 8px 12px 0 rgb(0, 0, 0, 0.2);
    @extend %transitioned;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 1fr;
    grid-template-areas:
    "header header"
    "left-content right-content";
    &:hover{
        box-shadow: 8px 12px 0 rgba(0,0,0,0.3);
        transform: scale(1.03);
    }
    .courses__header{
        grid-area: header;
        padding: 30px;
        background-color: #f1c274;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .courses__title{
            color: #333;
            font-size: 35px;
            font-weight: 400;
        }
        .courses__subtitle{
            color: #a82734;
            font-size: 25px;
            font-weight: 300;
        }
        .courses__text{
            color: #444;
            font-weight: 400;
            margin-bottom: 10px;
        }
        .courses__title--color-white {
            color: #eee;
        }
        .courses__subtitle--color-black {
            color: #333;
        }
        .courses__subtitle--color-black-darker {
            color: #111;
        }
        .courses__title--color-blue {
            color: #6c8ddc;
        }
        .courses__subtitle--color-green {
            color: #1f6435;
        }
    }
    .left-content{
        grid-area: left-content;
        background-color: #a3464f;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .little-title{
            color: #eee;
            font-weight: 400;
            font-size: 1.9em;
        }
        p{
            .info{
                font-size: 25px;
                color: #f1c274;
            }
            .big-number{
                font-size: 2.6em;
                color: #ecececec;
            }
            .courses__title--color-white {
                color: #eee;
            }
            .courses__subtitle--color-black {
                color: #333;
            }
            .courses__subtitle--color-black-darker {
                color: #111;
            }
            .courses__title--color-blue {
                color: #6c8ddc;
            }
            .courses__subtitle--color-green {
                color: #1f6435;
            }
        }
        .smaller-text{
            margin-top: 10px;
            font-size: 17px;
            color: hsl(0,0%, 97%);
        }
        .courses__title--color-white {
            color: #eee;
        }
        .courses__subtitle--color-black {
            color: #333;
        }
        .courses__subtitle--color-black-darker {
            color: #111;
        }
        .courses__title--color-blue {
            color: #6c8ddc;
        }
        .courses__subtitle--color-green {
            color: #1f6435;
        }
    }
    .right-content{
        background-color: hsl(0,0%, 20%);
        padding: 30px;
        .little-title{
            color: #eee;
            font-weight: 400;
            font-size: 1.9em;
        }
        .list{
            margin-top: 20px;
            line-height: 1.5;
            font-weight: 300;
            color: hsl(0,0%,79%);
            font-size: 18px;
        }
        .courses__title--color-white {
            color: #eee;
        }
        .courses__subtitle--color-black {
            color: #333;
        }
        .courses__subtitle--color-black-darker {
            color: #111;
        }
        .courses__title--color-blue {
            color: #6c8ddc;
        }
        .courses__subtitle--color-green {
            color: #1f6435;
        }
    }
    .courses__header--backcolor-blue {
        background-color: #6c8ddc;
    }
    .courses__header--backcolor-white {
        background-color: #eee;
    }
    .courses__subtitle--backcolor-red {
        background-color: #8e4151;
    }
    .courses__header--backcolor-green {
        background-color: #359e56;
    }
}

.double-spacing {
    margin-bottom: 80px;
}

@media screen and (max-width: vars.$breakpoint-lg){
    .main--larger {
        width: 90%;
        height: 2050px;
        .section {
            height: 780px;
        }
    }
    .container{
        width: 60%;
        margin: auto;
        display: grid;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 1fr;
        grid-template-areas:
        "header header"
        "left-content right-content";
        .courses__header{
            grid-area: header;
            padding: 30px;
            gap: 25px;
            .courses__title{
                font-size: 35px;
            }
            .courses__subtitle{
                font-size: 25px;
            }
            .courses__text{
                margin-bottom: 10px;
            }
        }
        .left-content{
            grid-area: left-content;
            padding: 30px;
            gap: 24px;
            .little-title{
                font-size: 1.9em;
            }
            p{
                .info{
                    font-size: 25px;
                }
                .big-number{
                    font-size: 2.6em;
                }
            }
            .smaller-text{
                margin-top: 10px;
                font-size: 17px;
            }
        }
        .right-content{
            padding: 30px;
            .little-title{
                font-size: 1.9em;
            }
            .list{
                margin-top: 20px;
                line-height: 1.5;
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: vars.$breakpoint-md){
    .main--larger {
        width: 80%;
        height: 1450px;
        justify-content: space-around;
        margin: 0 auto;
        margin-bottom: 50px;
        border-radius: 20px;
        .section {
            height: 710px;
        }
    }
    .container{
        width: 60%;
        margin: auto;
        display: grid;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 190px 200px;
        grid-template-areas:
        "header header"
        "left-content right-content";
        .courses__header{
            grid-area: header;
            padding: 25px;
            gap: 14px;
            .courses__title{
                font-size: 23px;
            }
            .courses__subtitle{
                font-size: 18px;
            }
            .courses__text{
                font-size: 13px;
                margin-bottom: 10px;
            }
        }
        .left-content{
            grid-area: left-content;
            padding: 22px;
            gap: 10px;
            .little-title{
                font-size: 1.5em;
            }
            p{
                .info{
                    font-size: 20px;
                }
                .big-number{
                    font-size: 2.1em;
                }
            }
            .smaller-text{
                margin-top: 6px;
                font-size: 14px;
            }
        }
        .right-content{
            padding: 25px;
            .little-title{
                font-size: 1.5em;
            }
            .list{
                margin-top: 10px;
                line-height: 1.3;
                font-size: 13px;
            }
        }
    }
}


@media screen and (max-width: vars.$breakpoint-mmd){
    .main--larger {
        width: 75%;
        height: 1450px;
        justify-content: space-around;
        .section {
            height: 710px;
        }
    }
    .container{
        width: 80%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 190px 200px;
        grid-template-areas:
        "header header"
        "left-content right-content";
        .courses__header{
            grid-area: header;
            padding: 25px;
            gap: 14px;
            .courses__title{
                font-size: 23px;
            }
            .courses__subtitle{
                font-size: 18px;
            }
            .courses__text{
                font-size: 13px;
                margin-bottom: 10px;
            }
        }
        .left-content{
            padding: 22px;
            gap: 10px;
            .little-title{
                font-size: 1.5em;
            }
            p{
                .info{
                    font-size: 20px;
                }
                .big-number{
                    font-size: 2.1em;
                }
            }
            .smaller-text{
                margin-top: 6px;
                font-size: 14px;
            }
        }
        .right-content{
            padding: 25px;
            .little-title{
                font-size: 1.5em;
            }
            .list{
                margin-top: 10px;
                line-height: 1.3;
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: vars.$breakpoint-sm){
    .main--larger {
        width: 75%;
        height: 1250px;
        justify-content: space-around;
        .section {
            height: 590px;
        }
    }
    .container{
        width: 87%;
        margin: auto;
        grid-template-rows: 140px 190px;
        .courses__header{
            padding: 18px;
            gap: 12px;
            .courses__title{
                font-size: 21px;
            }
            .courses__subtitle{
                font-size: 15px;
            }
            .courses__text{
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
        .left-content{
            padding: 18px;
            gap: 9px;
            .little-title{
                font-size: 1.2em;
            }
            p{
                .info{
                    font-size: 18px;
                }
                .big-number{
                    font-size: 1.9em;
                }
            }
            .smaller-text{
                margin-top: 6px;
                font-size: 13px;
            }
        }
        .right-content{
            padding: 20px;
            .little-title{
                font-size: 1.2em;
            }
            .list{
                margin-top: 10px;
                line-height: 1.3;
                font-size: 12.5px;
            }
        }
    }
}

@media screen and (max-width: vars.$breakpoint-xs){
    .main--larger {
        width: 80%;
        height: 1300px;
        justify-content: space-around;
        .section {
            height: 590px;
        }
    }
    .container{
        width: 100%;
        grid-template-columns: 200px 200px;
        grid-template-rows: 155px 190px;
        .courses__header{
            padding: 18px;
            gap: 10px;
            .courses__title{
                font-size: 19px;
            }
            .courses__subtitle{
                font-size: 14px;
            }
            .courses__text{
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
        .left-content{
            padding: 15px;
            gap: 9px;
            .little-title{
                font-size: 1em;
            }
            p{
                .info{
                    font-size: 16px;
                }
                .big-number{
                    font-size: 1.3em;
                }
            }
            .smaller-text{
                margin-top: 6px;
                font-size: 12px;
            }
        }
        .right-content{
            padding: 10px;
            .little-title{
                font-size: 1em;
            }
            .list{
                margin-top: 10px;
                line-height: 1.2;
                font-size: 11.5px;
            }
        }
    }
}

@media screen and (max-width: vars.$breakpoint-xxs){
    .main--larger {
        width: 90%;
        height: 1600px;
        justify-content: space-around;
    }
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .courses__header{
            width: 100%;
            padding: 18px;
            gap: 10px;
            .courses__title{
                font-size: 19px;
            }
            .courses__subtitle{
                font-size: 14px;
            }
            .courses__text{
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
        .left-content{
            width: 100%;
            padding: 15px;
            gap: 9px;
            .little-title{
                font-size: 1em;
            }
            p{
                .info{
                    font-size: 16px;
                }
                .big-number{
                    font-size: 1.3em;
                }
            }
            .smaller-text{
                margin-top: 6px;
                font-size: 12px;
            }
        }
        .right-content{
            width: 100%;
            padding: 10px;
            .little-title{
                font-size: 1em;
            }
            .list{
                margin-top: 10px;
                line-height: 1.2;
                font-size: 11.5px;
            }
        }
    }
}

@media screen and (max-width: vars.$breakpoint-xxxs){
    .main--larger {
        width: 100%;
        height: 1490px;
        justify-content: center;
        border: none;
        background-color: transparent;
        box-shadow: 0 0 0 #f1eeed;
    }
    .container{
        width: 80%;
        .courses__header{
            padding: 12px;
            gap: 10px;
            .courses__title{
                font-size: 17px;
            }
            .courses__subtitle{
                font-size: 13px;
            }
            .courses__text{
                font-size: 11px;
                margin-bottom: 8px;
            }
        }
        .left-content{
            padding: 12px;
            gap: 7px;
            .little-title{
                font-size: 17px;
            }
            p{
                .info{
                    font-size: 15px;
                }
                .big-number{
                    font-size: 1.3em;
                }
            }
            .smaller-text{
                margin-top: 6px;
                font-size: 11px;
            }
        }
        .right-content{
            width: 100%;
            padding: 10px;
            .little-title{
                font-size: 17px;
            }
            .list{
                margin-top: 9px;
                line-height: 1.2;
                font-size: 11px;
            }
        }
    }
}

@media screen and (max-width: vars.$breakpoint-Xs){
    .main--larger {
        height: 1500px;
    }
    .container{
        width: 90%;
        .courses__header{
            padding: 10px;
            gap: 8px;
            .courses__title{
                font-size: 16px;
            }
            .courses__subtitle{
                font-size: 12px;
            }
            .courses__text{
                font-size: 10.5px;
                margin-bottom: 7px;
            }
        }
        .left-content{
            padding: 10px;
            gap: 7px;
            .little-title{
                font-size: 16px;
            }
            p{
                .info{
                    font-size: 14px;
                }
                .big-number{
                    font-size: 1.1em;
                }
            }
            .smaller-text{
                margin-top: 6px;
                font-size: 10px;
            }
        }
        .right-content{
            padding: 8px;
            .little-title{
                font-size: 15px;
            }
            .list{
                margin-top: 9px;
                line-height: 1.2;
                font-size: 10px;
            }
        }
    }
}