@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.section, .section__content .figure .figure__image, .section--larger .section__content--column .header__content, .section--larger .section__content--column .cards, .teacher-cards .card--large .card__header .figure--little .image__teacher {
  width: 100%;
}

.section__content .figure .figure__image, .teacher-cards, .teacher-cards .card--large .card__header .figure--little .image__teacher {
  height: 100%;
}

.section__content .figure .figure__image, .section--larger .section__content--column .cards .card, .teacher-cards .card--large, .teacher-cards .card--large .card__header .figure--little .image__teacher {
  transition: all 0.3s ease-in-out 0s;
}

.section__content .figure {
  border: none;
}

.section__content .section__text .text, .section--larger .section__content--column .header__content .text, .section--larger .section__content--column .cards .card .text {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  line-height: 1.7;
  width: 80%;
}

.section--larger .section__content--column .header__content .text {
  width: 600px;
  text-align: center;
}

.section--larger .section__content--column .cards .card .text {
  margin-top: 17px;
  font-size: 16px;
  text-align: justify;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.section {
  margin-top: 20px;
  height: 767px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__content {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
}
.section__content .section__text {
  flex-basis: 50%;
  padding: 20px;
}
.section__content .section__text .section__title {
  font-size: 2em;
  font-weight: 400;
}
.section__content .figure {
  width: 600px;
  height: 350px;
  overflow: hidden;
  border: 1px solid #444;
  border-radius: 30px;
}
.section__content .figure .figure__image {
  object-fit: cover;
}
.section__content .figure .figure__image:hover {
  transform: scale(1.1);
}

.section--larger {
  height: 945px;
  margin-top: 40px;
}
.section--larger .section__content--column .header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 20%;
}
.section--larger .section__content--column .header__content .section__title {
  font-size: 2em;
  font-weight: 400;
}
.section--larger .section__content--column .cards {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section--larger .section__content--column .cards .card {
  width: 260px;
  height: 350px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #666;
  box-shadow: 4px 5px 0 hsl(0, 0%, 77%);
  border-radius: 10px;
  background-color: #fefcf8;
}
.section--larger .section__content--column .cards .card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 0 hsl(0, 0%, 77%);
}
.section--larger .section__content--column .cards .card .rounded-image {
  width: 170px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  border: 1px solid #333;
}
.section--larger .section__content--column .cards .card .mini-titulo {
  margin-top: 20px;
  font-size: 20px;
}
.teacher-cards {
  flex-basis: 70%;
  border-right: 1.7px solid #111;
  background-color: #938f83;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  overflow-y: scroll;
}
.teacher-cards .card--large {
  width: 600px;
  height: 280px;
  padding: 25px;
  background-color: #d0d1cc;
  border: 1px solid #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}
.teacher-cards .card--large:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.teacher-cards .card--large .card__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.teacher-cards .card--large .card__header .figure--little {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #333;
}
.teacher-cards .card--large .card__header .figure--little .image__teacher:hover {
  transform: scale(1.1);
}
.teacher-cards .card--large .card__header .card__titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 20px;
}
.teacher-cards .card--large .card__header .card__titles .card_title_light {
  color: #111;
  font-size: 18px;
  font-weight: 400;
}
.teacher-cards .card--large .teacher-text {
  font-size: 18px;
  color: #222;
  font-weight: 300;
  line-height: 1.4;
  text-align: justify;
}

.big-title {
  font-size: 6em;
  font-weight: 500;
  padding: 30px 60px;
  background-color: #48e;
  border-radius: 60px;
}

.big-text {
  margin-top: 40px;
  font-size: 1.5em;
}

.no-border {
  border-bottom: none;
}

.column__ {
  display: flex;
  flex-direction: column;
}

.section__content--bordered {
  background-color: #baa08d;
  border-radius: 15px;
}

.section__text-leftwise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__content--column {
  flex-direction: column;
  align-items: center;
}

.section__text--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .section--larger {
    height: 980px;
    margin-top: 10px;
  }
  .section--larger .section__content--column .cards .card {
    width: 250px;
    height: 330px;
    padding: 20px 10px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 170px;
    height: 110px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid #333;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 20px;
    font-size: 20px;
  }
  .section--larger .section__content--column .cards .card .text {
    font-size: 17px;
  }
  .teacher-cards {
    flex-basis: 75%;
    gap: 35px;
    padding: 30px 5px;
  }
  .teacher-cards .card--large {
    width: 550px;
    height: 260px;
    padding: 27px;
  }
  .teacher-cards .card--large .card__header {
    gap: 12px;
  }
  .teacher-cards .card--large .card__header .figure--little {
    width: 70px;
    height: 70px;
  }
  .teacher-cards .card--large .card__header .card__titles {
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 16px;
    font-weight: 400;
  }
  .teacher-cards .card--large .teacher-text {
    font-size: 15.2px;
  }
  .section .column__ .big-title {
    font-size: 4em;
    font-weight: 500;
    padding: 30px 60px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 38px;
    font-size: 1.2em;
    text-align: center;
  }
}
@media screen and (max-width: 1150px) {
  .section {
    margin-top: 20px;
    height: 710px;
  }
  .section__content {
    width: 90%;
    height: 90%;
  }
  .section__content .section__text {
    flex-basis: 50%;
    padding: 15px;
  }
  .section__content .section__text .section__title {
    font-size: 1.8em;
    font-weight: 400;
  }
  .section__content .section__text .text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    width: 90%;
  }
  .section__content .figure {
    width: 450px;
    height: 300px;
  }
  .section__content .teacher-cards {
    flex-basis: 70%;
    gap: 35px;
    padding: 25px 5px;
  }
  .section__content .teacher-cards .card--large {
    width: 450px;
    height: 250px;
    padding: 27px;
  }
  .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 65px;
    height: 65px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 7px;
    font-weight: 500;
    font-size: 17px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 15.5px;
    font-weight: 400;
  }
  .section__content .teacher-cards .card--large .teacher-text {
    font-size: 14.8px;
  }
  .section__content .section__text .section__title {
    font-size: 1.5em;
    font-weight: 400;
  }
  .section__content .section__text .text {
    margin-top: 0px;
    font-size: 16px;
    line-height: 1.6;
    width: 80%;
  }
  .section--larger {
    height: 1180px;
    margin-top: 10px;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
    justify-content: flex-start;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.5em;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    margin-top: 0px;
    font-size: 16px;
  }
  .section--larger .section__content--column .cards {
    flex-basis: 80%;
    flex-wrap: wrap;
  }
  .section--larger .section__content--column .cards .card {
    width: 200px;
    height: 300px;
    padding: 10px 8px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 100px;
    height: 120px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 15px;
    font-size: 18px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
  }
  .section .column__ .big-title {
    font-size: 3.8em;
    font-weight: 500;
    padding: 28px 55px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 37px;
    font-size: 1.1em;
    text-align: center;
  }
}
@media screen and (max-width: 940px) {
  .section {
    margin-top: 20px;
    height: 710px;
  }
  .section__content {
    height: 600px;
  }
  .section__content .section__text .section__title {
    font-size: 1.6em;
    font-weight: 400;
  }
  .section__content .section__text .text {
    margin-top: 22px;
    font-size: 15px;
    line-height: 1.6;
    width: 90%;
  }
  .section__content .figure {
    width: 450px;
    height: 300px;
  }
  .section__content .teacher-cards {
    flex-basis: 70%;
    gap: 30px;
    padding: 20px 8px;
  }
  .section__content .teacher-cards .card--large {
    width: 420px;
    height: 220px;
    padding: 27px;
  }
  .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 60px;
    height: 60px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 6px;
    font-weight: 500;
    font-size: 16px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 15px;
    font-weight: 400;
  }
  .section__content .teacher-cards .card--large .teacher-text {
    font-size: 13.7px;
  }
  .section__content .section__text--centered .section__title {
    font-size: 1.5em;
    font-weight: 400;
  }
  .section__content .section__text--centered .text {
    margin-top: 0px;
    font-size: 16px;
    line-height: 1.6;
    width: 80%;
  }
  .section--larger {
    height: 1415px;
    margin-top: 40px;
  }
  .section--larger .section__content--column {
    height: 85%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.4em;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    margin-top: 0px;
    font-size: 16px;
  }
  .section--larger .section__content--column .cards {
    flex-basis: 100%;
    margin-top: 10px;
    flex-basis: 80%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .section--larger .section__content--column .cards .card {
    width: 270px;
    height: 240px;
    padding: 10px 8px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 120px;
    height: 90px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 13px;
    font-size: 16px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 18px;
    font-size: 13.5px;
    line-height: 1.4;
    text-align: center;
  }
  .section .column__ .big-title {
    font-size: 3.6em;
    font-weight: 500;
    padding: 24px 52px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 35px;
    font-size: 1.2em;
    text-align: center;
  }
}
@media screen and (max-width: 860px) {
  .section__content {
    height: 600px;
  }
  .section__content .section__text .section__title {
    font-size: 1.4em;
    font-weight: 400;
  }
  .section__content .section__text .text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    width: 93%;
  }
  .section__content .figure {
    width: 400px;
    height: 250px;
  }
  .section__content .teacher-cards {
    flex-basis: 75%;
    gap: 24px;
    padding: 20px 10px;
  }
  .section__content .teacher-cards .card--large {
    width: 340px;
    height: 210px;
    padding: 23px;
  }
  .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 55px;
    height: 55px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 5.5px;
    font-weight: 500;
    font-size: 15px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 14px;
    font-weight: 400;
  }
  .section__content .teacher-cards .card--large .teacher-text {
    font-size: 12px;
  }
  .section__content .section__text--centered .section__title {
    font-size: 1.2em;
  }
  .section__content .section__text--centered .text {
    font-size: 14px;
    line-height: 1.5;
    width: 85%;
  }
  .section--larger {
    height: 1415px;
    margin-top: 40px;
  }
  .section--larger .section__content--column {
    height: 85%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.3em;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    font-size: 14px;
  }
  .section--larger .section__content--column .cards {
    margin-top: 10px;
    gap: 15px;
  }
  .section--larger .section__content--column .cards .card {
    width: 300px;
    height: 240px;
    padding: 10px 8px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 120px;
    height: 90px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 13px;
    font-size: 16px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 18px;
    font-size: 13.5px;
    line-height: 1.4;
    text-align: center;
  }
  .section .column__ .big-title {
    font-size: 3.4em;
    font-weight: 500;
    padding: 22px 50px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 33px;
    font-size: 1.1em;
    text-align: center;
  }
}
@media screen and (max-width: 740px) {
  .section__content {
    border: none;
    height: 500px;
  }
  .section__content .section__text .section__title {
    font-size: 1.3em;
    font-weight: 400;
  }
  .section__content .section__text .text {
    margin-top: 16px;
    font-size: 13px;
    line-height: 1.6;
    width: 95%;
  }
  .section__content .figure {
    width: 320px;
    height: 200px;
  }
  .section__content--bordered {
    flex-direction: column;
    width: 339px;
    height: 500px;
    overflow: hidden;
  }
  .section__content--bordered .teacher-cards {
    border: none;
    border-bottom-left-radius: 0;
    gap: 20px;
    padding: 20px 13px;
  }
  .section__content--bordered .teacher-cards .card--large {
    width: 100%;
    height: 210px;
    padding: 23px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header .figure--little {
    width: 55px;
    height: 55px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header .card__titles {
    gap: 5.5px;
    font-weight: 500;
    font-size: 14.5px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 14px;
    font-weight: 400;
  }
  .section__content--bordered .teacher-cards .card--large .teacher-text {
    font-size: 12px;
  }
  .section__content--bordered .section__text--centered {
    justify-content: center;
  }
  .section__content--bordered .section__text--centered .section__title {
    font-size: 1.2em;
  }
  .section__content--bordered .section__text--centered .text {
    font-size: 14px;
    line-height: 1.5;
    width: 85%;
    margin-top: 0;
  }
  .section--larger {
    height: 1535px;
    margin-top: 50px;
  }
  .section--larger .section__content--column {
    height: 85%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.3em;
    margin-top: 70px;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    width: 90%;
    font-size: 13px;
  }
  .section--larger .section__content--column .cards {
    margin-top: 10px;
    gap: 15px;
  }
  .section--larger .section__content--column .cards .card {
    width: 300px;
    height: 240px;
    padding: 10px 8px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 120px;
    height: 90px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 13px;
    font-size: 16px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 18px;
    font-size: 13.5px;
    line-height: 1.4;
    text-align: center;
  }
  .section .column__ .big-title {
    font-size: 3.4em;
    font-weight: 500;
    padding: 22px 50px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 33px;
    font-size: 1.1em;
    text-align: center;
  }
}
@media screen and (max-width: 860px) {
  .section__content {
    height: 600px;
  }
  .section__content .section__text .section__title {
    font-size: 1.4em;
    font-weight: 400;
  }
  .section__content .section__text .text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    width: 93%;
  }
  .section__content .figure {
    width: 400px;
    height: 250px;
  }
  .section__content .teacher-cards {
    flex-basis: 75%;
    gap: 24px;
    padding: 20px 10px;
  }
  .section__content .teacher-cards .card--large {
    width: 340px;
    height: 210px;
    padding: 23px;
  }
  .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 55px;
    height: 55px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 5.5px;
    font-weight: 500;
    font-size: 15px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 14px;
    font-weight: 400;
  }
  .section__content .teacher-cards .card--large .teacher-text {
    font-size: 12px;
  }
  .section__content .section__text--centered .section__title {
    font-size: 1.2em;
  }
  .section__content .section__text--centered .text {
    font-size: 14px;
    line-height: 1.5;
    width: 85%;
  }
  .section--larger .section__content--column {
    height: 85%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.3em;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    font-size: 14px;
  }
  .section--larger .section__content--column .cards {
    margin-top: 10px;
    gap: 15px;
  }
  .section--larger .section__content--column .cards .card {
    width: 300px;
    height: 240px;
    padding: 10px 8px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 120px;
    height: 90px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 13px;
    font-size: 16px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 18px;
    font-size: 13.5px;
    line-height: 1.4;
    text-align: center;
  }
  .section .column__ .big-title {
    font-size: 3.4em;
    font-weight: 500;
    padding: 22px 50px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 33px;
    font-size: 1.1em;
    text-align: center;
  }
}
@media screen and (max-width: 740px) {
  .section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 350px;
  }
  .section__content .section__text .section__title {
    font-size: 1.2em;
  }
  .section__content .section__text .text {
    margin-top: 16px;
    font-size: 13px;
    line-height: 1.4;
    width: 95%;
  }
  .section__content .figure {
    width: 320px;
    height: 200px;
  }
  .section__content--bordered {
    flex-direction: column;
    width: 339px;
    height: 500px;
    overflow: hidden;
  }
  .section__content--bordered .teacher-cards {
    border: none;
    border-bottom-left-radius: 0;
    gap: 20px;
    padding: 20px 13px;
  }
  .section__content--bordered .teacher-cards .card--large {
    width: 100%;
    height: 210px;
    padding: 23px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header .figure--little {
    width: 55px;
    height: 55px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header .card__titles {
    gap: 5.5px;
    font-weight: 500;
    font-size: 14.5px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 14px;
    font-weight: 400;
  }
  .section__content--bordered .teacher-cards .card--large .teacher-text {
    font-size: 12px;
  }
  .section__content--bordered .section__text--centered {
    justify-content: center;
  }
  .section__content--bordered .section__text--centered .section__title {
    font-size: 1.2em;
  }
  .section__content--bordered .section__text--centered .text {
    font-size: 14px;
    line-height: 1.5;
    width: 85%;
    margin-top: 0;
  }
  .section--larger {
    height: 1535px;
  }
  .section--larger .section__content--column {
    margin-top: 40px;
    height: 85%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.3em;
    margin-top: 70px;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    width: 90%;
    font-size: 13px;
  }
  .section--larger .section__content--column .cards {
    margin-top: 10px;
    gap: 15px;
  }
  .section--larger .section__content--column .cards .card {
    width: 300px;
    height: 240px;
    padding: 10px 8px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 120px;
    height: 90px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 13px;
    font-size: 16px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 18px;
    font-size: 13.5px;
    line-height: 1.4;
    text-align: center;
  }
  .section .column__ .big-title {
    font-size: 2.8em;
    font-weight: 500;
    padding: 20px 45px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 33px;
    font-size: 0.9em;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .section__content .section__text .section__title {
    font-size: 1.2em;
  }
  .section__content .section__text .text {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.4;
    width: 95%;
  }
  .section__content .figure {
    width: 205px;
    height: 180px;
    margin-bottom: 30px;
  }
  .section__content--bordered {
    width: 240px;
    height: 450px;
    overflow: hidden;
  }
  .section__content--bordered .teacher-cards {
    gap: 20px;
    padding: 20px 13px;
  }
  .section__content--bordered .teacher-cards .card--large {
    width: 100%;
    height: 210px;
    padding: 12px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header {
    gap: 6px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header .figure--little {
    width: 50px;
    height: 50px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header .card__titles {
    gap: 5.5px;
    font-weight: 500;
    font-size: 13.5px;
  }
  .section__content--bordered .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 12px;
    font-weight: 400;
  }
  .section__content--bordered .teacher-cards .card--large .teacher-text {
    font-size: 11px;
  }
  .section__content--bordered .section__text--centered {
    justify-content: center;
  }
  .section__content--bordered .section__text--centered .section__title {
    font-size: 1em;
  }
  .section__content--bordered .section__text--centered .text {
    font-size: 12.5px;
    line-height: 1.5;
    width: 85%;
    margin-top: 0;
  }
  .section--larger .section__content--column {
    margin-top: 40px;
    height: 85%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.2em;
    margin-top: 70px;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    width: 80%;
    font-size: 12px;
  }
  .section--larger .section__content--column .cards {
    margin-top: 10px;
    gap: 15px;
  }
  .section--larger .section__content--column .cards .card {
    width: 150px;
    height: 250px;
    padding: 10px 3px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 100px;
    height: 80px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 13px;
    font-size: 15px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
  }
  .section .column__ .big-title {
    font-size: 2em;
    font-weight: 500;
    padding: 15px 15px;
    background-color: #48e;
    border-radius: 60px;
    text-align: center;
  }
  .section .column__ .big-text {
    margin-top: 33px;
    font-size: 0.9em;
    text-align: center;
  }
}
@media screen and (max-width: 250px) {
  .section__content .section__text .section__title {
    font-size: 1em;
  }
  .section__content .section__text .text {
    margin-top: 16px;
    font-size: 11px;
    line-height: 1.4;
    width: 95%;
  }
  .section__content .figure {
    width: 0;
    height: 0;
  }
}

/*# sourceMappingURL=index.css.map */
