@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.section, .section__content .figure .figure__image, .section__content .teacher-cards .card--large .card__header .figure--little .image__teacher, .section--larger .section__content--column .header__content, .section--larger .section__content--column .cards {
  width: 100%;
}

.section__content .figure .figure__image, .section__content .teacher-cards, .section__content .teacher-cards .card--large .card__header .figure--little .image__teacher {
  height: 100%;
}

.section__content .figure .figure__image, .section__content .teacher-cards .card--large, .section__content .teacher-cards .card--large .card__header .figure--little .image__teacher, .section--larger .section__content--column .cards .card {
  transition: all 0.3s ease-in-out 0s;
}

.section__content .figure {
  border: none;
}

.section__content .section__text .text, .section--larger .section__content--column .header__content .text, .section--larger .section__content--column .cards .card .text {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  line-height: 1.7;
  width: 80%;
}

.section--larger .section__content--column .header__content .text {
  width: 600px;
  text-align: center;
}

.section--larger .section__content--column .cards .card .text {
  margin-top: 17px;
  font-size: 16px;
  text-align: justify;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.section {
  margin-top: 20px;
  height: 550px; /*767px*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__content {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
}
.section__content .section__text {
  flex-basis: 50%;
  padding: 20px;
}
.section__content .section__text .section__title {
  font-size: 2em;
  font-weight: 400;
}
.section__content .figure {
  width: 600px;
  height: 350px;
  overflow: hidden;
  border: 1px solid #444;
  border-radius: 30px;
}
.section__content .figure .figure__image {
  object-fit: cover;
}
.section__content .figure .figure__image:hover {
  transform: scale(1.1);
}
.section__content .teacher-cards {
  flex-basis: 70%;
  z-index: 10;
  border-right: 1.7px solid #111;
  background-color: #938f83;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  overflow-y: scroll;
}
.section__content .teacher-cards .card--large {
  z-index: 11;
  width: 600px;
  height: 280px;
  padding: 25px;
  background-color: #d0d1cc;
  border: 1px solid #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}
.section__content .teacher-cards .card--large:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.section__content .teacher-cards .card--large .card__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section__content .teacher-cards .card--large .card__header .figure--little {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #333;
}
.section__content .teacher-cards .card--large .card__header .figure--little .image__teacher:hover {
  transform: scale(1.1);
}
.section__content .teacher-cards .card--large .card__header .card__titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 20px;
}
.section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
  color: #111;
  font-size: 18px;
  font-weight: 400;
}
.section__content .teacher-cards .card--large .teacher-text {
  font-size: 18px;
  color: #222;
  font-weight: 300;
  line-height: 1.4;
  text-align: justify;
}
.section__content .section__text--centered .section__titles {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 400;
}
.section__content .section__text--centered .text {
  margin-top: 0px;
  font-size: 17px;
  line-height: 1.6;
  width: 80%;
}
.section__content .big-title {
  font-size: 6em;
  font-weight: 500;
  padding: 30px 60px;
  background-color: #48e;
  border-radius: 60px;
}
.section__content .big-text {
  margin-top: 40px;
  font-size: 1.5em;
}

.section--larger {
  height: 670px; /*945px*/
  margin-top: 10px;
}
.section--larger .section__content--column .header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 20%;
}
.section--larger .section__content--column .header__content .section__title {
  font-size: 2em;
  font-weight: 400;
}
.section--larger .section__content--column .cards {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section--larger .section__content--column .cards .card {
  width: 260px;
  height: 350px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #666;
  box-shadow: 4px 5px 0 hsl(0, 0%, 77%);
  border-radius: 10px;
  background-color: #fefcf8;
}
.section--larger .section__content--column .cards .card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 0 hsl(0, 0%, 77%);
}
.section--larger .section__content--column .cards .card .rounded-image {
  width: 170px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  border: 1px solid #333;
}
.section--larger .section__content--column .cards .card .mini-titulo {
  margin-top: 20px;
  font-size: 20px;
}
.no-border {
  border-bottom: none;
}

.column__ {
  display: flex;
  flex-direction: column;
}

.section__content--bordered {
  background-color: #baa08d;
  border-radius: 15px;
}

.section__text-leftwise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__content--column {
  flex-direction: column;
  align-items: center;
}

.section__text--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .section--larger {
    height: 650px;
    margin-top: 10px;
  }
  .section--larger .section__content--column .cards .card {
    width: 250px;
    height: 330px;
    padding: 20px 10px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 170px;
    height: 110px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid #333;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 20px;
    font-size: 20px;
  }
  .section--larger .section__content--column .cards .card .text {
    font-size: 17px;
  }
  .teacher-cards {
    flex-basis: 75%;
    gap: 35px;
    padding: 30px 5px;
  }
  .teacher-cards .card--large {
    width: 550px;
    height: 260px;
    padding: 27px;
  }
  .teacher-cards .card--large .card__header {
    gap: 12px;
  }
  .teacher-cards .card--large .card__header .figure--little {
    width: 70px;
    height: 70px;
  }
  .teacher-cards .card--large .card__header .card__titles {
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 16px;
    font-weight: 400;
  }
  .teacher-cards .card--large .teacher-text {
    font-size: 15.2px;
  }
  .section .column__ .big-title {
    font-size: 4em;
    font-weight: 500;
    padding: 30px 60px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 38px;
    font-size: 1.2em;
    text-align: center;
  }
}
@media screen and (max-width: 1150px) {
  .section {
    margin-top: 20px;
    height: 450px;
  }
  .section__content {
    width: 90%;
    height: 90%;
  }
  .section__content .section__text {
    flex-basis: 50%;
    padding: 15px;
  }
  .section__content .section__text .section__title {
    font-size: 1.8em;
    font-weight: 400;
  }
  .section__content .section__text .text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    width: 90%;
  }
  .section__content .figure {
    width: 450px;
    height: 300px;
  }
  .section__content .teacher-cards {
    flex-basis: 70%;
    gap: 35px;
    padding: 25px 5px;
  }
  .section__content .teacher-cards .card--large {
    width: 400px;
    height: 225px;
    padding: 27px;
  }
  .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 60px;
    height: 60px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 6px;
    font-weight: 500;
    font-size: 16px;
  }
  .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 15.5px;
    font-weight: 400;
  }
  .section__content .teacher-cards .card--large .teacher-text {
    font-size: 13.8px;
  }
  .section__content .section__text--centered .section__titles {
    font-size: 27px;
    margin-bottom: 20px;
  }
  .section__content .section__text--centered .text {
    margin-top: 0px;
    font-size: 15px;
  }
  .section--larger {
    height: 600px;
    margin-top: 10px;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 5%;
    justify-content: flex-start;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.7em;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    margin-top: 0px;
    font-size: 15px;
  }
  .section--larger .section__content--column .cards {
    flex-basis: 90%;
    flex-wrap: wrap;
  }
  .section--larger .section__content--column .cards .card {
    width: 200px;
    height: 280px;
    padding: 10px 5px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 100px;
    height: 120px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 15px;
    font-size: 18px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 10px;
    font-size: 13.5px;
    line-height: 1.4;
    text-align: center;
  }
  .section .column__ .big-title {
    font-size: 3.6em;
    font-weight: 500;
    padding: 28px 55px;
    background-color: #48e;
    border-radius: 55px;
  }
  .section .column__ .big-text {
    margin-top: 35px;
    font-size: 1.1em;
    text-align: center;
  }
}
@media screen and (max-width: 940px) {
  .section {
    margin-top: 20px;
    height: 550px;
  }
  .section .section__content .section__text .section__title {
    font-size: 1.9em;
    font-weight: 400;
  }
  .section .section__content .section__text .text {
    margin-top: 20px;
    font-size: 14.5px;
    line-height: 1.6;
    width: 90%;
  }
  .section .section__content .figure {
    width: 370px;
    height: 250px;
  }
  .section .section__content .teacher-cards {
    flex-basis: 90%;
    gap: 30px;
    padding: 15px 6px;
  }
  .section .section__content .teacher-cards .card--large {
    width: 380px;
    height: 230px;
    padding: 25px;
  }
  .section .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 50px;
    height: 50px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 6px;
    font-weight: 500;
    font-size: 16px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 15px;
    font-weight: 400;
  }
  .section .section__content .teacher-cards .card--large .teacher-text {
    font-size: 13px;
  }
  .section .section__content .section__text--centered .section__titles {
    font-size: 1.4em;
    font-weight: 400;
  }
  .section .section__content .section__text--centered .text {
    margin-top: 0px;
    font-size: 14.2px;
    line-height: 1.6;
    width: 80%;
  }
  .section .column__ .big-title {
    font-size: 3.6em;
    font-weight: 500;
    padding: 24px 52px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 35px;
    font-size: 1.2em;
    text-align: center;
  }
  .section--larger {
    margin-top: 40px;
    height: 650px;
  }
  .section--larger .section__content--column {
    height: 100%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.7em;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    font-size: 15.5px;
  }
  .section--larger .section__content--column .cards {
    flex-basis: 90%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .section--larger .section__content--column .cards .card {
    width: 280px;
    height: 220px;
    padding: 10px 8px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 120px;
    height: 90px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 13px;
    font-size: 15px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 18px;
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
  }
}
@media screen and (max-width: 860px) {
  .section {
    margin-top: 10px;
    height: 400px;
  }
  .section .section__content {
    height: 60%;
  }
  .section .section__content .section__text .section__title {
    font-size: 1.7em;
    font-weight: 400;
  }
  .section .section__content .section__text .text {
    margin-top: 15px;
    font-size: 14.1px;
    line-height: 1.6;
    width: 95%;
  }
  .section .section__content .figure {
    width: 300px;
    height: 210px;
  }
  .section .section__content .teacher-cards {
    z-index: 3;
    height: 390px;
    flex-basis: 90%;
    gap: 20px;
    padding: 10px 0px;
  }
  .section .section__content .teacher-cards .card--large {
    width: 330px;
    height: 230px;
    padding: 25px;
  }
  .section .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 50px;
    height: 50px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 6px;
    font-weight: 500;
    font-size: 16px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 15px;
    font-weight: 400;
  }
  .section .section__content .teacher-cards .card--large .teacher-text {
    font-size: 13px;
  }
  .section .section__content .section__text--centered .section__titles {
    font-size: 1.3em;
    font-weight: 400;
  }
  .section .section__content .section__text--centered .text {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.6;
    width: 90%;
  }
  .section .big-title {
    font-size: 3.6em;
    font-weight: 500;
    padding: 24px 52px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .big-text {
    margin-top: 35px;
    font-size: 1.2em;
    text-align: center;
  }
  .section--larger {
    margin-top: 40px;
    height: 650px;
  }
  .section--larger .section__content--column {
    height: 100%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.7em;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    font-size: 15.5px;
  }
  .section--larger .section__content--column .cards {
    flex-basis: 90%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .section--larger .section__content--column .cards .card {
    width: 280px;
    height: 220px;
    padding: 10px 8px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 120px;
    height: 90px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 13px;
    font-size: 15px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 18px;
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
  }
}
@media screen and (max-width: 740px) {
  .section {
    margin-top: 10px;
    height: 350px;
  }
  .section .section__content {
    height: 60%;
  }
  .section .section__content .section__text {
    width: fit-content;
  }
  .section .section__content .section__text .section__title {
    font-size: 1.3em;
    font-weight: 400;
    text-align: left;
    width: 100%;
  }
  .section .section__content .section__text .text {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.6;
    width: 100%;
  }
  .section .section__content .figure {
    margin-left: 20px;
    width: 220px;
    height: 170px;
  }
  .section .section__content .teacher-cards {
    z-index: 3;
    height: 100%;
    flex-basis: 90%;
    gap: 20px;
    padding: 10px 2px;
  }
  .section .section__content .teacher-cards .card--large {
    width: 280px;
    height: 260px;
    padding: 25px;
  }
  .section .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 45px;
    height: 45px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 6px;
    font-weight: 500;
    font-size: 15px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 14px;
    font-weight: 400;
  }
  .section .section__content .teacher-cards .card--large .teacher-text {
    font-size: 12.8px;
  }
  .section .section__content .section__text--centered .section__titles {
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
  }
  .section .section__content .section__text--centered .text {
    margin-top: 0px;
    font-size: 13.1px;
    line-height: 1.6;
    width: 95%;
  }
  .section--larger {
    margin-top: 20px;
    height: 750px;
  }
  .section--larger .section__content--column {
    height: 100%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    font-size: 13.5px;
    width: 100%;
  }
  .section--larger .section__content--column .cards {
    flex-basis: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .section--larger .section__content--column .cards .card {
    width: 220px;
    height: 250px;
    padding: 10px 8px;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 120px;
    height: 90px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    margin-top: 13px;
    font-size: 15px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-top: 18px;
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
  }
  .section .column__ .big-title {
    font-size: 3em;
    font-weight: 500;
    padding: 20px 45px;
    background-color: #48e;
    border-radius: 60px;
  }
  .section .column__ .big-text {
    margin-top: 33px;
    font-size: 1em;
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  .section {
    margin-top: 10px;
    height: 400px;
  }
  .section .section__content {
    flex-direction: column;
    height: 100%;
  }
  .section .section__content .section__text {
    flex-basis: 40%;
  }
  .section .section__content .section__text .section__title {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    width: 100%;
  }
  .section .section__content .section__text .text {
    margin-top: 15px;
    font-size: 12.5px;
    line-height: 1.6;
    width: 100%;
  }
  .section .section__content .figure {
    width: 290px;
    height: 170px;
  }
  .section .section__content .teacher-cards {
    width: 100%;
    flex-basis: 95%;
    border: none;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    gap: 20px;
    padding: 10px 2px;
  }
  .section .section__content .teacher-cards .card--large {
    z-index: 5;
    width: 250px;
    height: 280px;
    padding: 25px;
  }
  .section .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 45px;
    height: 45px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 6px;
    font-weight: 500;
    font-size: 14.5px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 13.5px;
    font-weight: 400;
  }
  .section .section__content .teacher-cards .card--large .teacher-text {
    font-size: 12px;
  }
  .section .section__content .section__text--centered .section__titles {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
  }
  .section .section__content .section__text--centered .text {
    font-size: 13px;
    line-height: 1.6;
    width: 80%;
  }
  .section--larger {
    margin-top: 40px;
    height: 670px;
  }
  .section--larger .section__content--column {
    height: 100%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    font-size: 13.1px;
    width: 100%;
  }
  .section--larger .section__content--column .cards {
    flex-basis: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .section--larger .section__content--column .cards .card {
    width: 350px;
    height: 110px;
    padding: 10px 8px;
    flex-direction: row;
    position: relative;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 90px;
    height: 80px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 95px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-left: 10px;
    font-size: 12.5px;
    line-height: 1.3;
  }
  .section .column__ .big-title {
    font-size: 2.5em;
    font-weight: 500;
    padding: 18px 40px;
    background-color: #48e;
    border-radius: 55px;
  }
  .section .column__ .big-text {
    margin-top: 30px;
    font-size: 0.9em;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .section {
    height: 470px;
  }
  .section .section__content {
    flex-direction: column;
    height: 100%;
  }
  .section .section__content .section__text {
    flex-basis: 40%;
  }
  .section .section__content .section__text .section__title {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    width: 100%;
  }
  .section .section__content .section__text .text {
    margin-top: 15px;
    font-size: 12.5px;
    line-height: 1.6;
    width: 100%;
  }
  .section .section__content .figure {
    width: 200px;
    height: 150px;
  }
  .section .section__content .teacher-cards {
    width: 100%;
    gap: 10px;
  }
  .section .section__content .teacher-cards .card--large {
    z-index: 5;
    width: 200px;
    height: 300px;
    padding: 25px;
  }
  .section .section__content .teacher-cards .card--large .card__header {
    gap: 10px;
  }
  .section .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 50px;
    height: 45px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 4px;
    font-weight: 500;
    font-size: 13px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 12.5px;
    font-weight: 400;
  }
  .section .section__content .teacher-cards .card--large .teacher-text {
    font-size: 11.5px;
  }
  .section .section__content .section__text--centered .section__titles {
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
  }
  .section .section__content .section__text--centered .text {
    font-size: 12px;
    line-height: 1.6;
    width: 80%;
  }
  .section--larger {
    margin-top: 40px;
    height: 700px;
  }
  .section--larger .section__content--column {
    height: 100%;
  }
  .section--larger .section__content--column .header__content {
    flex-basis: 10%;
  }
  .section--larger .section__content--column .header__content .section__title {
    width: 100%;
    font-size: 1.1em;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .section--larger .section__content--column .header__content .text {
    font-size: 12.8px;
    width: 100%;
  }
  .section--larger .section__content--column .cards {
    flex-basis: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .section--larger .section__content--column .cards .card {
    width: 245px;
    height: 135px;
    padding: 10px 8px;
    flex-direction: row;
    position: relative;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 70px;
    height: 70px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 50px;
  }
  .section--larger .section__content--column .cards .card .text {
    margin-left: 10px;
    font-size: 12px;
    line-height: 1.3;
  }
  .section .column__ .big-title {
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    padding: 15px 30px;
    background-color: #48e;
    border-radius: 55px;
  }
  .section .column__ .big-text {
    margin-top: 30px;
    font-size: 0.9em;
    text-align: center;
  }
}
@media screen and (max-width: 250px) {
  .section {
    height: 500px;
  }
  .section .section__content .section__text .section__title {
    font-size: 1.1em;
  }
  .section .section__content .section__text .text {
    margin-top: 13px;
    font-size: 11.5px;
  }
  .section .section__content .figure {
    width: 100px;
    height: 100px;
  }
  .section .section__content .teacher-cards {
    width: 100%;
    gap: 10px;
  }
  .section .section__content .teacher-cards .card--large {
    z-index: 5;
    width: 150px;
    height: 250px;
    padding: 5px;
  }
  .section .section__content .teacher-cards .card--large .card__header {
    gap: 7px;
  }
  .section .section__content .teacher-cards .card--large .card__header .figure--little {
    width: 50px;
    height: 45px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles {
    gap: 3px;
    font-weight: 500;
    font-size: 11px;
  }
  .section .section__content .teacher-cards .card--large .card__header .card__titles .card_title_light {
    font-size: 10px;
    font-weight: 400;
  }
  .section .section__content .teacher-cards .card--large .teacher-text {
    font-size: 10px;
  }
  .section .section__content .section__text--centered .section__titles {
    font-size: 1em;
  }
  .section .section__content .section__text--centered .text {
    font-size: 10px;
    line-height: 1.4;
    width: 100%;
  }
  .section--larger {
    height: 740px;
  }
  .section--larger .section__content--column .header__content .section__title {
    font-size: 1em;
    margin-bottom: 7px;
  }
  .section--larger .section__content--column .header__content .text {
    font-size: 11px;
  }
  .section--larger .section__content--column .cards .card {
    width: 245px;
    height: 135px;
    padding: 10px 8px;
    flex-direction: row;
    position: relative;
  }
  .section--larger .section__content--column .cards .card .rounded-image {
    width: 60px;
    height: 60px;
  }
  .section--larger .section__content--column .cards .card .mini-titulo {
    font-size: 0px;
    position: absolute;
    top: 10px;
    right: 50px;
  }
  .section--larger .section__content--column .cards .card .text {
    transform: translateY(-10px);
    margin-left: 10px;
    font-size: 10px;
    line-height: 1.3;
  }
  .section .column__ .big-title {
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
    padding: 20px 5px;
    background-color: #48e;
    border-radius: 55px;
  }
  .section .column__ .big-text {
    margin-top: 30px;
    font-size: 0.7em;
    text-align: center;
  }
}

/*# sourceMappingURL=index.css.map */
